.services-container {
    padding: 2rem;
    background-color: #f9f9f9;
}

.service-card {
    background: #fefefe;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 10px solid rgb(244, 241, 241);
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    height: auto; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem; 
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.card-icon {
    background-color: #e0f7fa;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.icon-img {
    height: 50px;
    width: 50px;
}

/* Text styling */
.service-text {
    font-size: 18px;
    color: #333;
    margin-top: 1rem;
    
}
.service-header{
    font-size: 35px;
    font-weight:500
}
.button-single {
    width: 50%;
    margin: 0 auto; 
  }


@media (max-width: 768px) {
    .services-container {
        padding: 1.5rem;
    }
    .button-single {
        width: 70%; 
        font-size: 1rem; 
      }
    

    .service-card {
        width: 100%;
        padding: 1rem;
    }

    .card-icon {
        height: 60px;
        width: 60px;
    }

    .icon-img {
        height: 40px;
        width: 40px;
    }

    .service-text {
        font-size: 0.85rem;
    }
}

/* For mobile devices */
@media (max-width: 576px) {
    .services-container {
        padding: 1rem;
    }
    .button-single {
        width: 120%;
        
      }

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .col-md-3 {
        flex: 1 1 calc(100% - 2rem);
    }

    .service-card {
        padding: 1rem;
    }

    .card-icon {
        height: 60px;
        width: 60px;
    }

    .icon-img {
        height: 40px;
        width: 40px;
    }

    .service-text {
        font-size: 0.85rem;
    }
}
